{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}acceuil {% endblock %}



{% block body %}
   
 <div class="row my-5">
     <div class="col-md-8 mx-auto">
        <div class="card text-left">
                <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Descreption</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {# {% for task in tasks %}
                  <tr>
                    <td scope="row">{{task.id}}</td>
                    <td> {{task.title}} </td>
                    <td> {{task.descreption}} </td>
                    
                 </tr>
                {% endfor %} #}

            </tbody>
        </table>
        </div>
    </div>
 </div>

         

{% endblock %}