{% extends 'base.html.twig' %}

{% block title %}conf {% endblock %}
{% block stylesheets %} {% endblock %}

{% block body %}
  <div class="card">
    <div class="card-header">
     <h1>sip</h1> 
    </div>
    <div class="card-body">
      <h5 class="card-title">voicmail</h5>
       {{ form(form) }}
     </div>
  </div>
{% endblock %}

